html {
      background: url('https://i.imgur.com/pHxwbFV.jpg');
      background-repeat: no-repeat;
      background-size: cover;

}	  
.header {
    background-color: #009fe5;
}
.footer {
    background-color: #009fe5;
}

.aside {
    background-color: #0073a5;
}

.aside_link {
    color: white;
    text-decoration: none;
}



